.new-product {
    margin: 2rem auto;
    display: grid;
    max-width: 50%;
    justify-content: center;
    gap: 1rem;
}

.new-product input,
.new-product button {
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
}

.new-product input {
    margin-top: 0.5rem;
}

.new-product label {
    background-color: #e0e0e0;
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.75rem 1rem;
}
