.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

form {
    display: grid;
    max-width: 500px;
    gap: 1rem;
}

.label-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    justify-items: flex-start;
    gap: 2rem;
}

input,
select,
textarea {
    font-size: 1.1rem;
    padding: 0.5 0.7rem;
}

.submit-cancel-btns {
    display: grid;
    justify-content: flex-start;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.submit-cancel-btns button, .action-btn {
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  text-decoration: none;
}

.submit-cancel-btns [role="submit"] {
  background-color: limegreen
}
.submit-cancel-btns [role="button"] {
  background-color: orangered
}

.action-btn.read {
  background-color: palegreen;
  color: black;
  margin-inline-end: 2rem;
}
.action-btn.write {
  background-color: rgb(22, 137, 22);
}

.action-btn:hover, .action-btn:focus {
  text-decoration: underline;
}

.table-list td {
  padding: 1rem;
}